In [163]:
#library to extract subtitles
#%pip install youtube_transcript_api

^C
Traceback (most recent call last):
  File "/Users/Rolf/anaconda3/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/Users/Rolf/anaconda3/lib/python3.7/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/Users/Rolf/anaconda3/lib/python3.7/site-packages/pip/__main__.py", line 23, in <module>
    from pip._internal.cli.main import main as _main  # isort:skip # noqa
  File "/Users/Rolf/anaconda3/lib/python3.7/site-packages/pip/_internal/cli/main.py", line 10, in <module>
    from pip._internal.cli.autocompletion import autocomplete
  File "/Users/Rolf/anaconda3/lib/python3.7/site-packages/pip/_internal/cli/autocompletion.py", line 9, in <module>
    from pip._internal.cli.main_parser import create_main_parser
  File "/Users/Rolf/anaconda3/lib/python3.7/site-packages/pip/_internal/cli/main_parser.py", line 7, in <module>
    from pip._internal.cli import cmdoptions
  File "/Users/Rolf/anaconda3/lib/python3.7/site-packages/pip/_internal/cli/cmdoptions.py", line 24, in <module>
    from pip._internal.cli.progress_bars import BAR_TYPES
  File "/Users/Rolf/anaconda3/lib/python3.7/site-packages/pip/_internal/cli/progress_bars.py", line 12, in <module>
    from pip._internal.utils.logging import get_indentation
  File "/Users/Rolf/anaconda3/lib/python3.7/site-packages/pip/_internal/utils/logging.py", line 18, in <module>
    from pip._internal.utils.misc import ensure_dir
  File "/Users/Rolf/anaconda3/lib/python3.7/site-packages/pip/_internal/utils/misc.py", line 20, in <module>
    from pip._vendor import pkg_resources
  File "/Users/Rolf/anaconda3/lib/python3.7/site-packages/pip/_vendor/pkg_resources/__init__.py", line 3251, in <module>
    @_call_aside
  File "/Users/Rolf/anaconda3/lib/python3.7/site-packages/pip/_vendor/pkg_resources/__init__.py", line 3235, in _call_aside
    f(*args, **kwargs)
  File "/Users/Rolf/anaconda3/lib/python3.7/site-packages/pip/_vendor/pkg_resources/__init__.py", line 3264, in _initialize_master_working_set
    working_set = WorkingSet._build_master()
  File "/Users/Rolf/anaconda3/lib/python3.7/site-packages/pip/_vendor/pkg_resources/__init__.py", line 574, in _build_master
    ws = cls()
  File "/Users/Rolf/anaconda3/lib/python3.7/site-packages/pip/_vendor/pkg_resources/__init__.py", line 567, in __init__
    self.add_entry(entry)
  File "/Users/Rolf/anaconda3/lib/python3.7/site-packages/pip/_vendor/pkg_resources/__init__.py", line 623, in add_entry
    for dist in find_distributions(entry, True):
  File "/Users/Rolf/anaconda3/lib/python3.7/site-packages/pip/_vendor/pkg_resources/__init__.py", line 2065, in find_on_path
    for dist in factory(fullpath):
  File "/Users/Rolf/anaconda3/lib/python3.7/site-packages/pip/_vendor/pkg_resources/__init__.py", line 2134, in distributions_from_metadata
    yield Distribution.from_location(
KeyboardInterrupt
Note: you may need to restart the kernel to use updated packages.

In [164]:
#code needed to use colab
#if you're using juptyer notebook then skip this line
from google.colab import drive
drive.mount('/content/gdrive')

ModuleNotFoundError: No module named 'google.colab'

In [ ]:
#cd used in colab
#%cd "gdrive/My Drive/Colab Notebooks"
!ls

In [184]:
import pandas as pd
import numpy as np
from youtube_transcript_api import YouTubeTranscriptApi
from tqdm import tqdm

# Extract Subtitles

In [ ]:
#import csv
df = pd.read_csv('20200504-193926_joe_biden_nlp.csv', index_col=0)
df.head()

In [ ]:
#loop to extract subtitles

tttt = []

with tqdm(total=len(df['id'])) as pbar:  
    for idx in df['id']:
        try:
            t = YouTubeTranscriptApi.get_transcript(idx)
        except:
            tttt.append([idx, np.nan]) #add NaN to videos that do not have subtitles
            continue
        tt = [i["text"] for i in t]
        ttt = [' '.join(tt)]
        tttt.append([idx, ttt])
        pbar.update(1)

df_sub = pd.DataFrame(tttt, columns=['video_id', 'subtitles'])
df_sub.head()

In [ ]:
#merge subtitles with dataframe containing video id, channel, etc. 
df2 = df.merge(df_sub, left_on='id', right_on='video_id')

In [ ]:
#i checked a few nan subtitles and they don't have subtitles. 
df2[df2['subtitles'].isna()].head()

In [ ]:
#drop column
df2.drop('video_id', inplace=True, axis=1)

In [ ]:
#export csv
df2.to_csv("20200504-193926_joe_biden_nlp_subs.csv")

# Subtitles cleaning

In [224]:
# load train_cleaned.csv
filename = "20200504-193926_joe_biden_nlp_subs.csv"
df = pd.read_csv(filename, usecols=['Bias_num', 'subtitles','channel'])

#copy to not destroy original dataset
df_channel = df.copy()

#create new column text. easier in the analysis
df['text'] = df['subtitles']

#drop subtitles and channel
df.drop(['subtitles'], axis=1, inplace=True)

In [225]:
#which videos have NaN as subtitle
df_nan = df[df['text'].isna()]

#number of videos with no subtitles
num_nan = len(df_nan)
print(f'Number of videos that do NOT have subtitles: {num_nan}')

print()

#displays channels with missing subtitles
channel = df_nan.groupby(["channel"])['Bias_num'].count().sort_values(ascending=False)
print(channel[:5])

print()

#display distribution of bias with missing subtitles
bias = df_nan.groupby('Bias_num')['channel'].count()
print(bias)

Number of videos that do NOT have subtitles: 112

channel
CNN               15
Reagan Library    14
PBS NewsHour      12
The Hill           7
CBS News           7
Name: Bias_num, dtype: int64

Bias_num
0    78
1    34
Name: channel, dtype: int64

In [226]:
#drop channel
df.drop(['channel'], axis=1, inplace=True)

#drop NaNs
df.dropna(inplace=True)

#remove brackets [] and quotations marks
df['text'] = df['text'].str[2:-2]

df.head(2)

   Bias_num                                               text
0         0  who hasn't been shocked by a recent electricit...
1         0  you're one of the greatest con men of all time...

In [227]:
#average right wing videos
df['Bias_num'].mean()

0.32570659488559894

In [228]:
#split channel string to remove each element from subtitles

#remove (in English) since the brackets cause problems with replacing values
df_channel['channel'] = df_channel['channel'].replace("(in English)", '', regex=True)

#list all unique channels
unique_channel = df_channel['channel'].unique()

#split channel name by whitespace
unique_channel_split = [i.split(' ') for i in unique_channel]

#display first row
unique_channel_split[0]

['60', 'Minutes', 'Australia']

In [229]:
#loop to remove each single word in channel name
#doing this to remove any possibility that the NLP model learns channel to predict bias
for channel in unique_channel_split:
    for element in channel:
        df['text'].replace(element,
                           '',
                           inplace=True,
                           regex=True)

In [230]:
#the text [Music] appears in subtitles when music is playing. 
#these values mess up the analysis in the end with 3-gram, 2-gram
to_replace = ['Music', 'music', 'Applause', 'applause', 'Laughter', 'laughter']

df['text'].replace(to_replace, '', inplace=True, regex=True)

In [231]:
df.to_csv("20200504-193926_joe_biden_nlp_subs_clean.csv")

## Split subtitles after 1'000 characters

We split at 1'000 characters to make our dataset larger. I (Rolf) thinks that having more rows is more important for the model training than few but long rows. I think that 1'000 characters is a good cut-off. This is an arbitrary number.

In [232]:
# load train_cleaned.csv
filename = "20200504-193926_joe_biden_nlp_subs_clean.csv"
df_clean = pd.read_csv(filename, index_col=0)

df_clean.head()

   Bias_num                                               text
0         0  who hasn't been shocked by a recent electricit...
1         0  you're one of the greatest con men of all time...
2         0  if you thought the insults hold between North ...
3         0  bravery courage defiance heartbreak they're no...
5         0  Jeffrey Epstein was a billionaire   businessma...

In [233]:
#df_clean has this many rows

print('df_clean has this many rows: ' + str(len(df_clean)))

df_clean has this many rows: 743

In [234]:
#function to split text into columns after 1'000 characters
def chunks(s, n):
    """Produce `n`-character chunks from `s`."""
    for start in range(0, len(s), n):
        yield s[start:start+n]

In [235]:
#empty lists to keep info
sub = []
bias = []

#loop to split at 1'000 characters
for index, row in df.iterrows():
    for chunk in chunks(row['text'], 1000):
        sub.append(chunk)
        bias.append(row['Bias_num'])

In [236]:
#create a dataframe from sub and bias list
df_sub = pd.DataFrame(list(zip(bias, sub)), columns=['bias_num', 'text'])

length = len(df_sub)
print(f"Number of rows after splitting at 1'000 characters: {length}")

percentage = round(df_sub['bias_num'].mean()*100, 2)
print(f"Percentage of rows that are right wing: {percentage}%")

df_sub.head()

Number of rows after splitting at 1'000 characters: 18362
Percentage of rows that are right wing: 42.04%

   bias_num                                               text
0         0  who hasn't been shocked by a recent electricit...
1         0  ther half have it denote when it gets dark [] ...
2         0  d to develop renewable energy it's Rayleigh yo...
3         0  ose power [] Elon Musk tweeted headfirst into ...
4         0  rooks did a crash course in renewable energy  ...

In [237]:
#loop to calculate average length of text per row

length = []

for index, row in df_sub.iterrows():
    length.append(len(row['text']))
    
avg_length = round(sum(length)/len(length),2)
print(f"Average character length of text column per row: {avg_length}")

Average character length of text column per row: 980.09

In [238]:
df_sub.to_csv("20200504-193926_joe_biden_nlp_subs_clean_expanded.csv")